.nav-bar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-score {
  margin-right: 10px;
}

.icon {
  max-width: 32px;
}

.app-container {
  flex-grow: 9;
  border: 1px solid black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 15px;
}