.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 225px;
    transition: box-shadow 0.2s;
}

.card:hover {
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
}

.pokemon-image {
    max-width: 200px;
}