html, body {
    height: 100%;
    margin: 0;
    padding: 0
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.settings, .how-to-play {
    display: flex;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.hidden {
    display: none;
}